# Configuration file

entitiesalwaysinfernal {
    B:AS_EntityGolem=false
    B:AlienBug=false
    B:Bandit=false
    B:EntityAlafha=false
    B:EntityAnged=false
    B:EntityAshen=false
    B:EntityAta=false
    B:EntityBabySpider=false
    B:EntityBano=false
    B:EntityBiomass=false
    B:EntityBlaze=false
    B:EntityBlueSlime=false
    B:EntityBrainSlime=false
    B:EntityCaveSpider=false
    B:EntityCreeper=false
    B:EntityCruxA=false
    B:EntityCruxB=false
    B:EntityCyclops=false
    B:EntityDod=false
    B:EntityDodSII=false
    B:EntityDodT=false
    B:EntityDorpa=false
    B:EntityDreadBeast=false
    B:EntityDreadGhoul=false
    B:EntityDreadLich=false
    B:EntityDreadScuttler=false
    B:EntityDreadThrall=false
    B:EntityDropPod=false
    B:EntityDweller=false
    B:EntityElderGuardian=false
    B:EntityEmana=false
    B:EntityEmanaAdapted=false
    B:EntityEnchantedBook=false
    B:EntityEnderman=false
    B:EntityEndermite=false
    B:EntityEsor=false
    B:EntityEvoker=false
    B:EntityFerEnderman=false
    B:EntityFerHuman=false
    B:EntityFerOcelot=false
    B:EntityFerPig=false
    B:EntityFerPlayer=false
    B:EntityFerSheep=false
    B:EntityFerVillager=false
    B:EntityFestiveCreeper=false
    B:EntityFlameSpewer=false
    B:EntityFlog=false
    B:EntityFog=false
    B:EntityFoho=false
    B:EntityGanro=false
    B:EntityGhast=false
    B:EntityGoblin=false
    B:EntityGorgon=false
    B:EntityGuardian=false
    B:EntityGuardianBoat=false
    B:EntityHarpy=false
    B:EntityHauntedTool=false
    B:EntityHeed=false
    B:EntityHiGolem=false
    B:EntityHiSkeletonHead=false
    B:EntityHiSkeletonPirate=false
    B:EntityHorgo=false
    B:EntityHorgoAdapted=false
    B:EntityHost=false
    B:EntityHostII=false
    B:EntityHusk=false
    B:EntityHydra=false
    B:EntityIki=false
    B:EntityInfCow=false
    B:EntityInfCrab=false
    B:EntityInfDragonE=false
    B:EntityInfDrowned=false
    B:EntityInfDweller=false
    B:EntityInfEnderman=false
    B:EntityInfFrog=false
    B:EntityInfHorse=false
    B:EntityInfHorseHead=false
    B:EntityInfHuman=false
    B:EntityInfHumanHead=false
    B:EntityInfHumanHusk=false
    B:EntityInfHumanHuskHead=false
    B:EntityInfPig=false
    B:EntityInfPigHead=false
    B:EntityInfPlayer=false
    B:EntityInfPlayerHead=false
    B:EntityInfSheep=false
    B:EntityInfSheepHead=false
    B:EntityInfSquid=false
    B:EntityInfStoneling=false
    B:EntityInfVillager=false
    B:EntityInfVillagerHead=false
    B:EntityInfVindicator=false
    B:EntityInfWitch=false
    B:EntityInfWitchHead=false
    B:EntityInfWolf=false
    B:EntityInfWolfHead=false
    B:EntityInhooM=false
    B:EntityInhooS=false
    B:EntityIrol=false
    B:EntityLeem=false
    B:EntityLeshAqua=false
    B:EntityLodo=false
    B:EntityLum=false
    B:EntityMagmaCube=false
    B:EntityMes=false
    B:EntityMikuAdapted=false
    B:EntityMimic=false
    B:EntityMotherSpider=false
    B:EntityMudo=false
    B:EntityNak=false
    B:EntityNogla=false
    B:EntityNuuh=false
    B:EntityOrch=false
    B:EntityOronco=false
    B:EntityOroncoTen=false
    B:EntityPigZombie=false
    B:EntityPirate=false
    B:EntityRanrac=false
    B:EntityRekin=false
    B:EntityRocketCreeper=false
    B:EntityRyba=false
    B:EntityShyco=false
    B:EntitySilverfish=false
    B:EntitySiren=false
    B:EntitySkeleton=false
    B:EntitySkeletonWarrior=false
    B:EntitySlime=false
    B:EntitySpider=false
    B:EntityStray=false
    B:EntityStymphalianBird=false
    B:EntitySupportCreeper=false
    B:EntityTerla=false
    B:EntityTroll=false
    B:EntityTrollager=false
    B:EntityVenkrol=false
    B:EntityVindicator=false
    B:EntityWave=false
    B:EntityWitch=false
    B:EntityWither=false
    B:EntityWitherSkeleton=false
    B:EntityWymo=false
    B:EntityZombie=false
    B:EntityZombieVillager=false
    B:PsychoSteve=false
    B:SkeletonSoldier=false
    B:ZombieFarmer=false
    B:ZombieMiner=false
    B:ZombieSoldier=false
}


entitybasehealth {
    D:AS_EntityGolem=250.0
    D:AlienBug=20.968704223632812
    D:Bandit=20.0
    D:EntityAlafha=342.4000244140625
    D:EntityAshen=21.0
    D:EntityBabySpider=8.0
    D:EntityBlaze=30.02605438232422
    D:EntityBlueSlime=4.0
    D:EntityBrainSlime=4.0
    D:EntityCaveSpider=12.266338348388672
    D:EntityCreeper=20.0
    D:EntityCruxA=180.142822265625
    D:EntityCruxB=28.350000381469727
    D:EntityDod=138.07672119140625
    D:EntityDorpa=35.20000076293945
    D:EntityDreadBeast=60.0
    D:EntityDreadGhoul=60.0
    D:EntityDreadLich=125.0
    D:EntityDreadScuttler=81.15825653076172
    D:EntityDreadThrall=50.0
    D:EntityDweller=20.0
    D:EntityElderGuardian=80.0823974609375
    D:EntityEmana=39.0776252746582
    D:EntityEnchantedBook=20.0
    D:EntityEnderman=40.0
    D:EntityEvoker=25.769760131835938
    D:EntityFerHuman=102.72000122070312
    D:EntityFerOcelot=92.44800567626953
    D:EntityFerPig=62.431121826171875
    D:EntityFerVillager=35.0
    D:EntityFestiveCreeper=20.0
    D:EntityFlameSpewer=20.0
    D:EntityFlog=85.60000610351562
    D:EntityFog=250.634765625
    D:EntityGhast=10.0
    D:EntityGoblin=20.0
    D:EntityGuardianBoat=5.0
    D:EntityHarpy=20.0
    D:EntityHauntedTool=3.200000047683716
    D:EntityHeed=125.0
    D:EntityHiGolem=150.0
    D:EntityHiSkeletonPirate=28.93014144897461
    D:EntityHorgoAdapted=342.4000244140625
    D:EntityHusk=20.0
    D:EntityIki=51.69016647338867
    D:EntityInfDrowned=19.260000228881836
    D:EntityInfDweller=24.796966552734375
    D:EntityInfEnderman=205.8623046875
    D:EntityInfHorse=50.50067901611328
    D:EntityInfHuman=20.25
    D:EntityInfHumanHead=4.5
    D:EntityInfHumanHusk=19.651180267333984
    D:EntityInfPig=9.0
    D:EntityInfPlayer=15.0
    D:EntityInfPlayerHead=4.5
    D:EntityInfSheep=55.6400032043457
    D:EntityInfSquid=60.0
    D:EntityInfStoneling=12.290107727050781
    D:EntityInfVillager=25.0
    D:EntityInfVillagerHead=4.800000190734863
    D:EntityInfWolf=10.0
    D:EntityInhooM=208.39678955078125
    D:EntityInhooS=36.0
    D:EntityIrol=342.4000244140625
    D:EntityLodo=7.0
    D:EntityMagmaCube=1.3110255002975464
    D:EntityMes=45.025482177734375
    D:EntityMimic=100.0
    D:EntityMotherSpider=30.0
    D:EntityMudo=10.0
    D:EntityNak=60.0
    D:EntityNuuh=72.76000213623047
    D:EntityOrch=75.0
    D:EntityOronco=2048.0
    D:EntityPigZombie=20.0
    D:EntityPirate=20.0
    D:EntityRekin=25.68000030517578
    D:EntityRocketCreeper=32.101173400878906
    D:EntityRyba=15.0
    D:EntitySilverfish=8.0
    D:EntitySkeleton=20.0
    D:EntitySkeletonWarrior=25.0
    D:EntitySlime=1.0
    D:EntitySpider=16.0
    D:EntityStray=20.0
    D:EntityStymphalianBird=24.660324096679688
    D:EntitySupportCreeper=20.0
    D:EntityTerla=250.0
    D:EntityTroll=50.0
    D:EntityTrollager=50.0
    D:EntityVindicator=25.577911376953125
    D:EntityWave=1.0
    D:EntityWitch=26.0
    D:EntityWitherSkeleton=74.53010559082031
    D:EntityZombie=20.0
    D:EntityZombieVillager=26.60724639892578
    D:SkeletonSoldier=33.75
    D:ZombieFarmer=18.0
    D:ZombieMiner=20.0
    D:ZombieSoldier=25.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true
    S:dimensionIDBlackList=
    B:disableGUIoverlay=false
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book
    I:eliteRarity=15
    I:infernoRarity=7
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0
    S:mobHealthFactor=1.0
    I:ultraRarity=7
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:AS_EntityGolem=true
    B:AlienBug=true
    B:Bandit=true
    B:EntityAlafha=true
    B:EntityAnged=true
    B:EntityAshen=true
    B:EntityAta=true
    B:EntityBabySpider=true
    B:EntityBano=true
    B:EntityBiomass=true
    B:EntityBlaze=true
    B:EntityBlueSlime=true
    B:EntityBrainSlime=true
    B:EntityCaveSpider=true
    B:EntityCreeper=true
    B:EntityCruxA=true
    B:EntityCruxB=true
    B:EntityCyclops=true
    B:EntityDod=true
    B:EntityDodSII=true
    B:EntityDodT=true
    B:EntityDorpa=true
    B:EntityDreadBeast=true
    B:EntityDreadGhoul=true
    B:EntityDreadLich=true
    B:EntityDreadScuttler=true
    B:EntityDreadThrall=true
    B:EntityDropPod=true
    B:EntityDweller=true
    B:EntityElderGuardian=true
    B:EntityEmana=true
    B:EntityEmanaAdapted=true
    B:EntityEnchantedBook=true
    B:EntityEnderman=true
    B:EntityEndermite=true
    B:EntityEsor=true
    B:EntityEvoker=true
    B:EntityFerEnderman=true
    B:EntityFerHuman=true
    B:EntityFerOcelot=true
    B:EntityFerPig=true
    B:EntityFerPlayer=true
    B:EntityFerSheep=true
    B:EntityFerVillager=true
    B:EntityFestiveCreeper=true
    B:EntityFlameSpewer=true
    B:EntityFlog=true
    B:EntityFog=true
    B:EntityFoho=true
    B:EntityGanro=true
    B:EntityGhast=true
    B:EntityGoblin=true
    B:EntityGorgon=true
    B:EntityGuardian=true
    B:EntityGuardianBoat=true
    B:EntityHarpy=true
    B:EntityHauntedTool=true
    B:EntityHeed=true
    B:EntityHiGolem=true
    B:EntityHiSkeletonHead=true
    B:EntityHiSkeletonPirate=true
    B:EntityHorgo=true
    B:EntityHorgoAdapted=true
    B:EntityHost=true
    B:EntityHostII=true
    B:EntityHusk=true
    B:EntityHydra=true
    B:EntityIki=true
    B:EntityInfCow=true
    B:EntityInfCrab=true
    B:EntityInfDragonE=true
    B:EntityInfDrowned=true
    B:EntityInfDweller=true
    B:EntityInfEnderman=true
    B:EntityInfFrog=true
    B:EntityInfHorse=true
    B:EntityInfHorseHead=true
    B:EntityInfHuman=true
    B:EntityInfHumanHead=true
    B:EntityInfHumanHusk=true
    B:EntityInfHumanHuskHead=true
    B:EntityInfPig=true
    B:EntityInfPigHead=true
    B:EntityInfPlayer=true
    B:EntityInfPlayerHead=true
    B:EntityInfSheep=true
    B:EntityInfSheepHead=true
    B:EntityInfSquid=true
    B:EntityInfStoneling=true
    B:EntityInfVillager=true
    B:EntityInfVillagerHead=true
    B:EntityInfVindicator=true
    B:EntityInfWitch=true
    B:EntityInfWitchHead=true
    B:EntityInfWolf=true
    B:EntityInfWolfHead=true
    B:EntityInhooM=true
    B:EntityInhooS=true
    B:EntityIrol=true
    B:EntityLeem=true
    B:EntityLeshAqua=true
    B:EntityLodo=true
    B:EntityLum=true
    B:EntityMagmaCube=true
    B:EntityMes=true
    B:EntityMikuAdapted=true
    B:EntityMimic=true
    B:EntityMotherSpider=true
    B:EntityMudo=true
    B:EntityNak=true
    B:EntityNogla=true
    B:EntityNuuh=true
    B:EntityOrch=true
    B:EntityOronco=true
    B:EntityOroncoTen=true
    B:EntityPigZombie=true
    B:EntityPirate=true
    B:EntityRanrac=true
    B:EntityRekin=true
    B:EntityRocketCreeper=true
    B:EntityRyba=true
    B:EntityShyco=true
    B:EntitySilverfish=true
    B:EntitySiren=true
    B:EntitySkeleton=true
    B:EntitySkeletonWarrior=true
    B:EntitySlime=true
    B:EntitySpider=true
    B:EntityStray=true
    B:EntityStymphalianBird=true
    B:EntitySupportCreeper=true
    B:EntityTerla=true
    B:EntityTroll=true
    B:EntityTrollager=true
    B:EntityVenkrol=true
    B:EntityVindicator=true
    B:EntityWave=true
    B:EntityWitch=true
    B:EntityWither=true
    B:EntityWitherSkeleton=true
    B:EntityWymo=true
    B:EntityZombie=true
    B:EntityZombieVillager=true
    B:PsychoSteve=true
    B:SkeletonSoldier=true
    B:ZombieFarmer=true
    B:ZombieMiner=true
    B:ZombieSoldier=true
}


