# Configuration file

general {
    # The max duration (in minutes) a potion can last, this is to prevent potions lasting more than they should.
    # Min: 0
    # Max: 1440
    I:"Maximum Potion Duration"=1

    # The minimum duration (in seconds) the potion must last to be affected by the multiplier, if set to 10, potion effects that last less than 10 seconds wont be multiplied and will be left at 10 seconds, while one at 11 will.
    # Min: 0
    # Max: 1440
    I:"Minimum Potion Duration"=20

    # Global multiplier for all potion durations. 1.0 = vanilla
    # Min: 0.0
    # Max: 100.0
    D:"Potion Duration Multiplier"=3.0
}


