"_VERSION"=1
general {
    # Maximum achievable levels. If set to 0 or lower there is no upper limit
    maximumLevels=-1
    # Reduces the amount of modifiers a newly build tool gets if the value is lower than the regular amount of modifiers the tool would have
    newToolMinModifiers=10
}
toolxp {
    # Base XP for each of the listed tools
    baseXpForTool {
        "tconstruct:arrow"=500
        "tconstruct:battlesign"=500
        "tconstruct:bolt"=500
        "tconstruct:broadsword"=500
        "tconstruct:cleaver"=500
        "tconstruct:crossbow"=400
        "tconstruct:excavator"=400
        "tconstruct:frypan"=400
        "tconstruct:hammer"=400
        "tconstruct:hatchet"=400
        "tconstruct:kama"=400
        "tconstruct:longbow"=400
        "tconstruct:longsword"=400
        "tconstruct:lumberaxe"=500
        "tconstruct:mattock"=500
        "tconstruct:pickaxe"=399
        "tconstruct:rapier"=500
        "tconstruct:scythe"=500
        "tconstruct:shortbow"=500
        "tconstruct:shovel"=400
        "tconstruct:shuriken"=400
    }
    # Base XP used when no more specific entry is present for the tool
    defaultBaseXP=500
    # How much the XP cost will multiply per level, minimum 2.
    levelMultiplier=2
}
