# Configuration file

~CONFIG_VERSION: 1.10.2.3

##########################################################################################################
# +main
#--------------------------------------------------------------------------------------------------------#
# Main Settings
# !!!After updating the mod, configurations will be recreated!!!
# !!!It is recommended to save the configurations in another location!!!
##########################################################################################################

"+main" {
    # If true, aquatic parasites will attack all underwater creatures. [default: true]
    B:"Water hunters"=true

    # Cotesia Glomerata [default: true]
    B:cotesiaCompatibility=true

    # Biomass cost and bloom tier for each parasite. Most systems in this mod, specifically those revolving around factories, need parasites to be registered here.
    # The bloom tier is the base bloom level needed to create or salvage it.
    # List a parasite as 'resourceLocation|tier|cost' without the quotes. 'srparasites:rupter|0|3' is a good example.
    # 'resourceLocation|tier|cost|addedFuseTime' can be used to add more ticks to the construction time for a parasite in a factory.
    # This extra fuse time is unaffected by the Global Fuse Scalar. [default: [srparasites:swimmer|0|3], [srparasites:leecher|0|10|60], [srparasites:plankton|0|5|100], [srparasites:bomber_mini|0|5|100], [srparasites:carrier_sea|0|30|120], [srparasites:sim_drowned|1|10], [srparasites:sim_dolphin|1|10], [srparasites:sim_dolphin_head|1|5], [srparasites:sim_fish|1|10], [srparasites:fer_dolphin|1|35], [srparasites:fer_fish|1|30], [srparasites:pri_hammerhead|2|35], [srparasites:pri_stinger|2|35], [srparasites:ada_hammerhead|3|50], [srparasites:ada_devourer_srpe|3|50], [srparasites:supporter|4|80], [srparasites:hi_guardian|0|10], [srparasites:hi_elder_guardian|0|40], [srparasites:pollen|2|15], [srparasites:sprouter_si|2|30]]
    S:cotesiaCompatibilityCostSettings <
        srparasites:swimmer|0|3
        srparasites:leecher|0|10|60
        srparasites:plankton|0|5|100
        srparasites:bomber_mini|0|5|100
        srparasites:carrier_sea|0|30|120
        srparasites:sim_drowned|1|10
        srparasites:sim_dolphin|1|10
        srparasites:sim_dolphin_head|1|5
        srparasites:sim_fish|1|10
        srparasites:fer_dolphin|1|35
        srparasites:fer_fish|1|30
        srparasites:pri_hammerhead|2|35
        srparasites:pri_stinger|2|35
        srparasites:ada_hammerhead|3|50
        srparasites:ada_devourer_srpe|3|50
        srparasites:supporter|4|80
        srparasites:hi_guardian|0|10
        srparasites:hi_elder_guardian|0|40
        srparasites:pollen|2|15
        srparasites:sprouter_si|2|30
     >
}


##########################################################################################################
# aqua_merge_system
#--------------------------------------------------------------------------------------------------------#
#  
#  The Aqua Assimilated have the ability to learn from their battles and if the conditions are met, they will 
#  start to melt until they're some Moving Flesh 
#  If 2 of these things meet, they will fuse together and grow, if they get big enough they will spawn 
#  a mob from the Mob List.
#  
#  Conditions for the Aqua Assimilated to turn into Swimming Flesh: 
#  
#  -The first condition: the Aqua Assimilated needs to reach the primitive killcount. 
#  -The second condition: it needs to be next to 3 more Aqua Assimilated, regardless of their killcount/specie 
#  OR it needs to be next to a Swimming Flesh. 
#  If the Aqua Assimilated with the killcount is next to atleast 3 more Aqua Assimilated, the four of them will start 
#  to melt BUT if it is next to a Swimming flesh, only it will start to melt.
##########################################################################################################

aqua_merge_system {
    # Aqua Assimilated mob list with their values used in the merge system to spawn mobs. Ex. "srparasites:sim_drowned;3"  Where: 
    #  "srparasites:sim_drowned" is for the entity (only works for Aqua Assimilated versions), 
    #  "3" is for the value the Swimming Flesh will have (value must be an integer). 
    #  [default: [srparasites:sim_dolphin;2], [srparasites:sim_drowned;2], [srparasites:sim_fish;1]]
    S:aquaMergeInfValues <
        srparasites:sim_dolphin;2
        srparasites:sim_drowned;2
        srparasites:sim_fish;1
     >

    # Mob list used in the merge system to spawn mobs. Ex. "srparasites:pri_hammerhead;1;4"   Where: 
    #  "srparasites:pri_hammerhead" is the entity that will be produced,
    #  "1" is the minimum amount of points that the Swimming Flesh must have,
    #  (Optionally) "4" is the maximum amount of points. If the flesh has more points than that, this entity will not be rolled during the transformation.
    #  Each Aqua Assimilated has a value, the value then passes to the Swimming Flesh and when 2 Swimming Flesh merge together both values will add up
    #  If the value matches one in the list, the corresponding entity will spawn, else it will be a random one. 
    #  [default: [srparasites:pri_hammerhead;4]]
    S:aquaMergeMobTable <
        srparasites:pri_hammerhead;4
     >
}


##########################################################################################################
# dsd_phase_spawn_list
#--------------------------------------------------------------------------------------------------------#
# Phase Spawn List
##########################################################################################################

dsd_phase_spawn_list {
    #  [default: [1>30;srparasites:swimmer;2;4;all;ocean,beach,river], [2>30;srparasites:swimmer;2;5;all;ocean,beach,river|25;srparasites:sim_dolphin;1;3;all;ocean,beach|25;srparasites:sim_fish;1;3;all;ocean,beach|25;srparasites:sim_drowned;1;3;all;ocean,beach], [3>30;srparasites:swimmer;3;5;all;ocean,beach,river|25;srparasites:sim_dolphin;1;3;all;ocean,beach|25;srparasites:sim_fish;1;3;all;ocean,beach|25;srparasites:sim_drowned;2;4;all;ocean,beach,river], [4>30;srparasites:swimmer;3;5;all;ocean,beach,river|25;srparasites:sim_dolphin;1;3;all;ocean,beach|25;srparasites:sim_fish;1;3;all;ocean,beach|25;srparasites:sim_drowned;2;4;all;ocean,beach,river|15;srparasites:pri_hammerhead;1;3;all;ocean,beach], [5>30;srparasites:swimmer;3;5;all;ocean,beach,river|25;srparasites:fer_dolphin;1;3;all;ocean,beach|25;srparasites:fer_fish;2;4;all;ocean,beach,river|15;srparasites:pri_hammerhead;1;4;all;ocean,beach], [6>30;srparasites:leecher;2;4;all;ocean,beach,river|25;srparasites:fer_dolphin;1;3;all;ocean,beach|25;srparasites:fer_fish;2;4;all;ocean,beach,river|15;srparasites:pri_hammerhead;1;4;all;ocean,beach|15;srparasites:ada_hammerhead;1;3;all;ocean,beach], [7>30;srparasites:leecher;1;3;all;ocean,beach,river|25;srparasites:fer_dolphin;1;3;all;ocean,beach|25;srparasites:fer_fish;2;4;all;ocean,beach,river|15;srparasites:ada_hammerhead;1;3;all;ocean,beach|15;srparasites:supporter;1;2;all;ocean,beach], [8>30;srparasites:leecher;1;3;all;ocean,beach,river|25;srparasites:fer_dolphin;1;3;all;ocean,beach|25;srparasites:fer_fish;2;4;all;ocean,beach,river|15;srparasites:supporter;1;2;all;ocean,beach|15;srparasites:ada_hammerhead;1;3;all;ocean,beach], [9>30;srparasites:leecher;1;3;all;ocean,beach,river|25;srparasites:fer_dolphin;1;3;all;ocean,beach|25;srparasites:fer_fish;2;4;all;ocean,beach,river|10;srparasites:supporter;1;2;all;ocean,beach|20;srparasites:ada_hammerhead;1;3;all;ocean,beach], [10>30;srparasites:leecher;1;3;all;ocean,beach,river|25;srparasites:fer_dolphin;1;3;all;ocean,beach|25;srparasites:fer_fish;2;4;all;ocean,beach,river|15;srparasites:supporter;1;2;all;ocean,beach|15;srparasites:ada_hammerhead;1;3;all;ocean,beach]]
    S:"SRP DSD Phase List" <
        1>30;srparasites:swimmer;2;4;all;ocean,beach,river
        2>30;srparasites:swimmer;2;5;all;ocean,beach,river|25;srparasites:sim_dolphin;1;3;all;ocean,beach|25;srparasites:sim_fish;1;3;all;ocean,beach|25;srparasites:sim_drowned;1;3;all;ocean,beach
        3>30;srparasites:swimmer;3;5;all;ocean,beach,river|25;srparasites:sim_dolphin;1;3;all;ocean,beach|25;srparasites:sim_fish;1;3;all;ocean,beach|25;srparasites:sim_drowned;2;4;all;ocean,beach,river
        4>30;srparasites:swimmer;3;5;all;ocean,beach,river|25;srparasites:sim_dolphin;1;3;all;ocean,beach|25;srparasites:sim_fish;1;3;all;ocean,beach|25;srparasites:sim_drowned;2;4;all;ocean,beach,river|15;srparasites:pri_hammerhead;1;3;all;ocean,beach
        5>30;srparasites:swimmer;3;5;all;ocean,beach,river|25;srparasites:fer_dolphin;1;3;all;ocean,beach|25;srparasites:fer_fish;2;4;all;ocean,beach,river|15;srparasites:pri_hammerhead;1;4;all;ocean,beach
        6>30;srparasites:leecher;2;4;all;ocean,beach,river|25;srparasites:fer_dolphin;1;3;all;ocean,beach|25;srparasites:fer_fish;2;4;all;ocean,beach,river|15;srparasites:pri_hammerhead;1;4;all;ocean,beach|15;srparasites:ada_hammerhead;1;3;all;ocean,beach
        7>30;srparasites:leecher;1;3;all;ocean,beach,river|25;srparasites:fer_dolphin;1;3;all;ocean,beach|25;srparasites:fer_fish;2;4;all;ocean,beach,river|15;srparasites:ada_hammerhead;1;3;all;ocean,beach|15;srparasites:supporter;1;2;all;ocean,beach
        8>30;srparasites:leecher;1;3;all;ocean,beach,river|25;srparasites:fer_dolphin;1;3;all;ocean,beach|25;srparasites:fer_fish;2;4;all;ocean,beach,river|15;srparasites:supporter;1;2;all;ocean,beach|15;srparasites:ada_hammerhead;1;3;all;ocean,beach
        9>30;srparasites:leecher;1;3;all;ocean,beach,river|25;srparasites:fer_dolphin;1;3;all;ocean,beach|25;srparasites:fer_fish;2;4;all;ocean,beach,river|10;srparasites:supporter;1;2;all;ocean,beach|20;srparasites:ada_hammerhead;1;3;all;ocean,beach
        10>30;srparasites:leecher;1;3;all;ocean,beach,river|25;srparasites:fer_dolphin;1;3;all;ocean,beach|25;srparasites:fer_fish;2;4;all;ocean,beach,river|15;srparasites:supporter;1;2;all;ocean,beach|15;srparasites:ada_hammerhead;1;3;all;ocean,beach
     >

    #  [default: true]
    B:"add SRP DSD Phase List"=true
}


##########################################################################################################
# fishing_rod
#--------------------------------------------------------------------------------------------------------#
# FishingRod
##########################################################################################################

fishing_rod {
    # Amount of points required for transformation into the sentient version. [range: 1 ~ 9999999, default: 32]
    I:amountPointsSentient=32

    # A list of items that can be fished up with this rod after a certain phase.Ex. "10;minecraft:iron_ingot;0;1;3>30;minecraft:sharpness;1;4,5;minecraft:mending" Where: 
    #  "10" is the chance to drop,
    #  "minecraft:iron_ingot" is the item,
    #  "0" is the meta of items,
    #  "1" is the min number of items,
    #  "3" is the max number of items.
    #   (Optional) ">30;minecraft:sharpness;1;4,5;minecraft:mending" Where: ">" - Separator symbol,
    #   "30;minecraft:sharpness;1;4" Where: "30" - Chance, "minecraft:sharpness" - Enchantment, "1" - min amplifier, "4" - max amplifier.
    #    Example: "10;minecraft:iron_ingot", "10;minecraft:iron_ingot;1", "10;minecraft:iron_ingot;1;1;4",
    #    "10;minecraft:iron_ingot>5;minecraft:mending", "10;minecraft:iron_ingot;1;1;4>5;minecraft:mending;5;6,10;minecraft:sharpness;1;4" [default: [3;minecraft:enchanted_book>25;minecraft:unbreaking;1;2,25;minecraft:sharpness;1;3,1;minecraft:mending,25;minecraft:efficiency;1;3,3;minecraft:fortune;1;2,5;minecraft:infinity,20;minecraft:knockback,3;minecraft:looting;1;2,15;minecraft:power;1;4,15;minecraft:protection;1;3,3;minecraft:silk_touch,15;minecraft:aqua_affinity], [100;srpdeepseadanger:rotted_fish], [10;minecraft:rotten_flesh], [5;minecraft:iron_ingot], [15;minecraft:bone], [5;minecraft:leather], [20;srparasites:assimilated_flesh], [20;srparasites:lurecomponent1], [10;srparasites:lurecomponent2], [1;srparasites:lurecomponent3]]
    S:livingFishingRod <
        3;minecraft:enchanted_book>25;minecraft:unbreaking;1;2,25;minecraft:sharpness;1;3,1;minecraft:mending,25;minecraft:efficiency;1;3,3;minecraft:fortune;1;2,5;minecraft:infinity,20;minecraft:knockback,3;minecraft:looting;1;2,15;minecraft:power;1;4,15;minecraft:protection;1;3,3;minecraft:silk_touch,15;minecraft:aqua_affinity
        100;srpdeepseadanger:rotted_fish
        10;minecraft:rotten_flesh
        5;minecraft:iron_ingot
        15;minecraft:bone
        5;minecraft:leather
        20;srparasites:assimilated_flesh
        20;srparasites:lurecomponent1
        10;srparasites:lurecomponent2
        1;srparasites:lurecomponent3
     >

    # Display the number of points in the item tooltip. [default: false]
    B:livingFishingRodDisplayPoints=false

    # A list of items that can be fished up with this rod after a certain phase.Ex. "10;minecraft:iron_ingot;0;1;3>30;minecraft:sharpness;1;4,5;minecraft:mending" Where: 
    #  "10" is the chance to drop,
    #  "minecraft:iron_ingot" is the item,
    #  "0" is the meta of items,
    #  "1" is the min number of items,
    #  "3" is the max number of items.
    #   (Optional) ">30;minecraft:sharpness;1;4,5;minecraft:mending" Where: ">" - Separator symbol,
    #   "30;minecraft:sharpness;1;4" Where: "30" - Chance, "minecraft:sharpness" - Enchantment, "1" - min amplifier, "4" - max amplifier.
    #    Example: "10;minecraft:iron_ingot", "10;minecraft:iron_ingot;1", "10;minecraft:iron_ingot;1;1;4",
    #    "10;minecraft:iron_ingot>5;minecraft:mending", "10;minecraft:iron_ingot;1;1;4>5;minecraft:mending;5;6,10;minecraft:sharpness;1;4" [default: [5;minecraft:enchanted_book>15;minecraft:unbreaking;1;3,10;minecraft:sharpness;1;5,1;minecraft:mending,10;minecraft:efficiency;1;5,3;minecraft:fortune;1;3,5;minecraft:infinity,10;minecraft:knockback,3;minecraft:looting;1;3,5;minecraft:power;1;5,10;minecraft:protection;1;4,3;minecraft:silk_touch,5;minecraft:aqua_affinity], [100;srpdeepseadanger:rotted_fish], [20;minecraft:rotten_flesh], [30;srparasites:assimilated_flesh], [10;minecraft:iron_ingot], [5;minecraft:leather], [3;minecraft:diamond], [20;srparasites:lurecomponent3], [10;srparasites:lurecomponent4], [5;srparasites:lurecomponent5], [3;srparasites:lurecomponent6], [5;srparasites:beckon_drop], [5;srparasites:dispatcher_drop], [3;srparasites:bone]]
    S:livingFishingRod_sentient <
        5;minecraft:enchanted_book>15;minecraft:unbreaking;1;3,10;minecraft:sharpness;1;5,1;minecraft:mending,10;minecraft:efficiency;1;5,3;minecraft:fortune;1;3,5;minecraft:infinity,10;minecraft:knockback,3;minecraft:looting;1;3,5;minecraft:power;1;5,10;minecraft:protection;1;4,3;minecraft:silk_touch,5;minecraft:aqua_affinity
        100;srpdeepseadanger:rotted_fish
        20;minecraft:rotten_flesh
        30;srparasites:assimilated_flesh
        10;minecraft:iron_ingot
        5;minecraft:leather
        3;minecraft:diamond
        20;srparasites:lurecomponent3
        10;srparasites:lurecomponent4
        5;srparasites:lurecomponent5
        3;srparasites:lurecomponent6
        5;srparasites:beckon_drop
        5;srparasites:dispatcher_drop
        3;srparasites:bone
     >
}


##########################################################################################################
# status_effects
#--------------------------------------------------------------------------------------------------------#
# Victim
##########################################################################################################

status_effects {
    # Mobs that are immune to the COTH effect, Ex: "minecraft:zombie" or just "minecraft" for a whole mod [default: ]
    S:COTHImmuneList <
     >

    # Assimilated mob list with their values used in the merge system to spawn mobs. Ex. "srparasites:infhuman;22"  Where: 
    #  "srparasites:infhuman" is for the entity (only works for Assimilated versions minus Big Spider, Enderdragon), 
    #  "22" is for the value the Moving Flesh will have (value must be an integer). 
    #  [default: [srparasites:sim_drowned;1]]
    S:DSDMergeInfValues <
        srparasites:sim_drowned;1
     >

    # Table that will be used for converting mobs, the Rupter will also be using this. [default: [oe:dolphin;srparasites:sim_dolphin], [oe:drowned;srparasites:sim_drowned], [oe:salmon;srparasites:sim_fish], [oe:cod;srparasites:sim_fish]]
    S:cothVictim <
        oe:dolphin;srparasites:sim_dolphin
        oe:drowned;srparasites:sim_drowned
        oe:salmon;srparasites:sim_fish
        oe:cod;srparasites:sim_fish
     >

    # Table that will be used for hijacking mobs. [default: [minecraft:guardian;srparasites:hi_guardian], [minecraft:elder_guardian;srparasites:hi_elder_guardian]]
    S:hijackedVictim <
        minecraft:guardian;srparasites:hi_guardian
        minecraft:elder_guardian;srparasites:hi_elder_guardian
     >
}


