# Configuration file

##########################################################################################################
# tickable_entities
#--------------------------------------------------------------------------------------------------------#
# Entities to be enhanced, will show everything ZombieAwareness should be able to enhance, only zombie based mobs and some others are default on, if a mob uses ground pathfinding and is able to be hostile you can try enabling more from other mods, but how well the enhancing works depends on how the mod implemented their mob
##########################################################################################################

tickable_entities {
    B:"Battletower Golem"=false
    B:Blaze=false
    B:CaveSpider=true
    B:Creeper=false
    B:ElderGuardian=false
    B:EnderDragon=false
    B:Enderman=false
    B:Endermite=false
    B:EvocationIllager=false
    B:Ghast=false
    B:Giant=false
    B:Guardian=false
    B:Husk=true
    B:IllusionIllager=false
    B:LavaSlime=false
    B:PigZombie=false
    B:Shulker=false
    B:Silverfish=false
    B:Skeleton=true
    B:Slime=false
    B:Spider=true
    B:Stray=true
    B:Vex=false
    B:VindicationIllager=false
    B:Witch=true
    B:WitherBoss=false
    B:WitherSkeleton=true
    B:Zombie=true
    B:ZombieHorse=false
    B:ZombieVillager=true
    B:artifacts.mimic=false
    B:cyclops=false
    B:dread_beast=false
    B:dread_ghoul=false
    B:dread_knight=false
    B:dread_lich=false
    B:dread_queen=false
    B:dread_scuttler=false
    B:dread_thrall=false
    B:ghost=false
    B:gorgon=false
    B:hordes.ZombiePlayer=true
    B:if_hydra=false
    B:if_troll=false
    B:mobBoat=false
    B:primitivemobs.baby_spider=false
    B:primitivemobs.bewitched_tome=false
    B:primitivemobs.blazing_juggernaut=false
    B:primitivemobs.brain_slime=false
    B:primitivemobs.festive_creeper=false
    B:primitivemobs.flame_spewer=false
    B:primitivemobs.goblin=false
    B:primitivemobs.harpy=false
    B:primitivemobs.haunted_tool=false
    B:primitivemobs.mimic=false
    B:primitivemobs.mother_spider=false
    B:primitivemobs.rocket_creeper=false
    B:primitivemobs.skeleton_warrior=true
    B:primitivemobs.support_creeper=false
    B:primitivemobs.treasure_slime=false
    B:primitivemobs.trollager=false
    B:"quark:ashen"=true
    B:"quark:dweller"=true
    B:"quark:foxhound"=false
    B:"quark:pirate"=true
    B:"quark:wraith"=true
    B:siren=false
    B:srmonstress.aloe=false
    B:srmonstress.heartdemon=false
    B:srmonstress.patrolman=false
    B:srparasites.abo_bodies=false
    B:srparasites.abo_head=false
    B:srparasites.ada_arachnida=false
    B:srparasites.ada_bolster=false
    B:srparasites.ada_burrower=false
    B:srparasites.ada_devourer=false
    B:srparasites.ada_longarms=false
    B:srparasites.ada_manducater=false
    B:srparasites.ada_reeker=false
    B:srparasites.ada_summoner=false
    B:srparasites.ada_tozoon=false
    B:srparasites.ada_vermin=false
    B:srparasites.ada_viscera=false
    B:srparasites.ada_yelloweye=false
    B:srparasites.airscrew=false
    B:srparasites.anc_dreadnaut=false
    B:srparasites.anc_dreadnaut_ten=false
    B:srparasites.anc_overlord=false
    B:srparasites.anc_pod=false
    B:srparasites.architect=false
    B:srparasites.beckon_si=false
    B:srparasites.beckon_sii=false
    B:srparasites.beckon_siii=false
    B:srparasites.beckon_siv=false
    B:srparasites.biomass=false
    B:srparasites.bogle=false
    B:srparasites.bomber_heavy=false
    B:srparasites.bomber_light=false
    B:srparasites.buglin=false
    B:srparasites.carrier_colony=false
    B:srparasites.carrier_flying=false
    B:srparasites.carrier_heavy=false
    B:srparasites.carrier_light=false
    B:srparasites.carrier_worm=false
    B:srparasites.crux=false
    B:srparasites.crux_incomplete=false
    B:srparasites.dispatcher_si=false
    B:srparasites.dispatcher_sii=false
    B:srparasites.dispatcher_siii=false
    B:srparasites.dispatcher_siv=false
    B:srparasites.dispatcherten=false
    B:srparasites.draconite=false
    B:srparasites.dredge=false
    B:srparasites.fer_bear=false
    B:srparasites.fer_cow=false
    B:srparasites.fer_enderman=false
    B:srparasites.fer_horse=false
    B:srparasites.fer_human=false
    B:srparasites.fer_pig=false
    B:srparasites.fer_sheep=false
    B:srparasites.fer_villager=false
    B:srparasites.fer_wolf=false
    B:srparasites.gnat=false
    B:srparasites.grunt=false
    B:srparasites.haunter=false
    B:srparasites.heed=false
    B:srparasites.hi_blaze=false
    B:srparasites.hi_golem=false
    B:srparasites.hi_skeleton=false
    B:srparasites.host=false
    B:srparasites.hostii=false
    B:srparasites.incompleteform_medium=false
    B:srparasites.incompleteform_small=false
    B:srparasites.kirin=false
    B:srparasites.kyphosis=false
    B:srparasites.lice=false
    B:srparasites.mangler=false
    B:srparasites.mar_bear=false
    B:srparasites.mar_cow=false
    B:srparasites.mar_enderman=false
    B:srparasites.mar_human=false
    B:srparasites.mar_sheep=false
    B:srparasites.mar_villager=false
    B:srparasites.marauder=false
    B:srparasites.monarch=false
    B:srparasites.movingflesh=false
    B:srparasites.overseer=false
    B:srparasites.pri_arachnida=false
    B:srparasites.pri_bolster=false
    B:srparasites.pri_burrower=false
    B:srparasites.pri_devourer=false
    B:srparasites.pri_longarms=false
    B:srparasites.pri_manducater=false
    B:srparasites.pri_reeker=false
    B:srparasites.pri_summoner=false
    B:srparasites.pri_tozoon=false
    B:srparasites.pri_vermin=false
    B:srparasites.pri_viscera=false
    B:srparasites.pri_yelloweye=false
    B:srparasites.rooter_si=false
    B:srparasites.rooter_sii=false
    B:srparasites.rooter_siii=false
    B:srparasites.rooter_siv=false
    B:srparasites.rooterball=false
    B:srparasites.rupter=false
    B:srparasites.seeker=false
    B:srparasites.seizer=false
    B:srparasites.sentry=false
    B:srparasites.sim_adventurer=false
    B:srparasites.sim_adventurerhead=false
    B:srparasites.sim_bear=false
    B:srparasites.sim_bigspider=false
    B:srparasites.sim_cow=false
    B:srparasites.sim_cowhead=false
    B:srparasites.sim_dragone=false
    B:srparasites.sim_dragonehead=false
    B:srparasites.sim_enderman=false
    B:srparasites.sim_endermanhead=false
    B:srparasites.sim_horse=false
    B:srparasites.sim_horsehead=false
    B:srparasites.sim_human=false
    B:srparasites.sim_humanhead=false
    B:srparasites.sim_pig=false
    B:srparasites.sim_pighead=false
    B:srparasites.sim_sheep=false
    B:srparasites.sim_sheephead=false
    B:srparasites.sim_squid=false
    B:srparasites.sim_villager=false
    B:srparasites.sim_villagerhead=false
    B:srparasites.sim_wolf=false
    B:srparasites.sim_wolfhead=false
    B:srparasites.succor=false
    B:srparasites.tendril=false
    B:srparasites.thrall=false
    B:srparasites.vigilante=false
    B:srparasites.warden=false
    B:srparasites.wave=false
    B:srparasites.waveshock=false
    B:srparasites.worker=false
    B:srparasites.worm=false
    B:srparasites.wraith=false
    B:srpdeepseadanger.ada_devourer_srpe=false
    B:srpdeepseadanger.ada_hammerhead=false
    B:srpdeepseadanger.bomber_mini=false
    B:srpdeepseadanger.carrier_sea=false
    B:srpdeepseadanger.fer_dolphin=false
    B:srpdeepseadanger.fer_fish=false
    B:srpdeepseadanger.hi_elder_guardian=false
    B:srpdeepseadanger.hi_guardian=false
    B:srpdeepseadanger.leecher=false
    B:srpdeepseadanger.plankton=false
    B:srpdeepseadanger.pri_hammerhead=false
    B:srpdeepseadanger.sim_dolphin=false
    B:srpdeepseadanger.sim_dolphin_head=false
    B:srpdeepseadanger.sim_drowned=false
    B:srpdeepseadanger.sim_fish=false
    B:srpdeepseadanger.sprouter_si=false
    B:srpdeepseadanger.supporter=false
    B:srpdeepseadanger.swimmer=false
    B:srpdeepseadanger.tendril_hammerhead=false
    B:srpextra.ada_stalker=false
    B:srpextra.ada_tozoon_srpe=false
    B:srpextra.ada_vermin_srpe=false
    B:srpextra.fer_adventurer=false
    B:srpextra.fer_ocelot=false
    B:srpextra.hi_creeper=false
    B:srpextra.hi_creeperhead=false
    B:srpextra.hi_skeleton_srpe=false
    B:srpextra.hi_skeletonhead=false
    B:srpextra.hi_skeletonstray=false
    B:srpextra.mite=false
    B:srpextra.pri_stalker=false
    B:srpextra.sim_evoker=false
    B:srpextra.sim_humanhusk=false
    B:srpextra.sim_humanhuskhead=false
    B:srpextra.sim_ocelot=false
    B:srpextra.sim_ocelothead=false
    B:srpextra.sim_vindicator=false
    B:srpextra.sim_vindicatorhead=false
    B:srpextra.sim_witch=false
    B:srpextra.sim_witchhead=false
    B:srpextra.swimming_flesh=false
    B:srpextra.tendril_stalker=false
    B:srpextra.tendril_tozoon=false
    B:srpextra.wendigo=false
    B:srpquark.hi_skeletonashen=false
    B:srpquark.hi_skeletonpirate=false
    B:srpquark.sim_archaeologist=false
    B:srpquark.sim_crab=false
    B:srpquark.sim_dweller=false
    B:srpquark.sim_frog=false
    B:srpquark.sim_stoneling=false
    B:stymphalianbird=false
    B:tconstruct.blueslime=false
    B:techguns.AlienBug=true
    B:techguns.ArmySoldier=false
    B:techguns.AttackHelicopter=false
    B:techguns.Bandit=false
    B:techguns.Commando=false
    B:techguns.CyberDemon=false
    B:techguns.DictatorDave=false
    B:techguns.DummySpawn=false
    B:techguns.Ghastling=false
    B:techguns.Outcast=false
    B:techguns.PsychoSteve=false
    B:techguns.SkeletonSoldier=false
    B:techguns.StormTrooper=false
    B:techguns.SuperMutantBasic=false
    B:techguns.SuperMutantElite=false
    B:techguns.SuperMutantHeavy=false
    B:techguns.ZombieFarmer=false
    B:techguns.ZombieMiner=false
    B:techguns.ZombiePigmanSoldier=false
    B:techguns.ZombiePoliceman=false
    B:techguns.ZombieSoldier=false
}


