# Configuration file

##########################################################################################################
# mob:aloe
#--------------------------------------------------------------------------------------------------------#
# Aloe 
#  Base Health: 30.799999475479126 
#  Base Damage: 19.499999284744263 
#  Base Armor: 5.599999904632568 
#  Base Knockback Resistance: 1.0399999618530273
##########################################################################################################

"mob:aloe" {
    # Agroo range for Aloe. [range: 0.01 ~ 100.0, default: 15.0]
    S:"Aloe Agroo Range"=35.0

    # Armor multiplier for Aloe. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Aloe Armor Multiplier"=1.0

    # Damage multiplier for Aloe. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Aloe Damage Multiplier"=1.0

    # Set to false if you want to disable Aloe. [default: true]
    B:"Aloe Enabled"=true

    # Follow range for Aloe. [range: 0.01 ~ 100.0, default: 30.0]
    S:"Aloe Follow Range"=50.0

    # Health multiplier for Aloe. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Aloe Health Multiplier"=1.0

    # Knockback Resistance multiplier for Aloe. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Aloe Knockback Resistance Multiplier"=1.0

    # Items you want Aloe to drop. Ex. "minecraft:nether_star;100;5;true" Where: 
    #  "minecraft:nether_star" is the item, 
    #  "100" is the chance to drop, 
    #  "5" is the max number of items, 
    #  "true" is for the item to always roll, if false the item will be unique and only 1 will be choosen. 
    #  [default: ]
    S:"Aloe Loot Table" <
        srparasites:lurecomponent2;50;2;true
        srparasites:lurecomponent3;5;1;true
        srparasites:assimilated_flesh;100;2;true
     >

    # Spawn rate for Aloe. [range: 0 ~ 100, default: 10]
    I:"Aloe SpawnWeight"=0
}


##########################################################################################################
# mob:heartdemon
#--------------------------------------------------------------------------------------------------------#
# Heartdemon 
#  Base Health: 25.199999570846558 
#  Base Damage: 19.499999284744263 
#  Base Armor: 5.599999904632568 
#  Base Knockback Resistance: 1.0399999618530273
##########################################################################################################

"mob:heartdemon" {
    # Agroo range for Heartdemon. [range: 0.01 ~ 100.0, default: 10.0]
    S:"Heartdemon Agroo Range"=35.0

    # Armor multiplier for Heartdemon. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Heartdemon Armor Multiplier"=1.0

    # Damage multiplier for Heartdemon. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Heartdemon Damage Multiplier"=1.0

    # Set to false if you want to disable Heartdemon. [default: true]
    B:"Heartdemon Enabled"=true

    # Follow range for Heartdemon. [range: 0.01 ~ 100.0, default: 25.0]
    S:"Heartdemon Follow Range"=50.0

    # Health multiplier for Heartdemon. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Heartdemon Health Multiplier"=1.0

    # Knockback Resistance multiplier for Heartdemon. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Heartdemon Knockback Resistance Multiplier"=1.0

    # Items you want Heartdemon to drop. Ex. "minecraft:nether_star;100;5;true" Where: 
    #  "minecraft:nether_star" is the item, 
    #  "100" is the chance to drop, 
    #  "5" is the max number of items, 
    #  "true" is for the item to always roll, if false the item will be unique and only 1 will be choosen. 
    #  [default: ]
    S:"Heartdemon Loot Table" <
        srparasites:lurecomponent2;50;2;true
        srparasites:lurecomponent3;5;1;true
        srparasites:assimilated_flesh;100;2;true
     >

    # Spawn rate for Heartdemon. [range: 0 ~ 100, default: 10]
    I:"Heartdemon SpawnWeight"=0
}


##########################################################################################################
# mob:patrolman
#--------------------------------------------------------------------------------------------------------#
# Patrolman 
#  Base Health: 16.799999713897705 
#  Base Damage: 28.599998950958252 
#  Base Armor: 5.599999904632568 
#  Base Knockback Resistance: 0.5199999809265137
##########################################################################################################

"mob:patrolman" {
    # Agroo range for Patrolman. [range: 0.01 ~ 100.0, default: 20.0]
    S:"Patrolman Agroo Range"=35.0

    # Armor multiplier for Patrolman. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Patrolman Armor Multiplier"=1.0

    # Damage multiplier for Patrolman. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Patrolman Damage Multiplier"=1.0

    # Set to false if you want to disable Patrolman. [default: true]
    B:"Patrolman Enabled"=true

    # Follow range for Patrolman. [range: 0.01 ~ 100.0, default: 27.0]
    S:"Patrolman Follow Range"=50.0

    # Health multiplier for Patrolman. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Patrolman Health Multiplier"=1.0

    # Knockback Resistance multiplier for Patrolman. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Patrolman Knockback Resistance Multiplier"=1.0

    # Items you want Patrolman to drop. Ex. "minecraft:nether_star;100;5;true" Where: 
    #  "minecraft:nether_star" is the item, 
    #  "100" is the chance to drop, 
    #  "5" is the max number of items, 
    #  "true" is for the item to always roll, if false the item will be unique and only 1 will be choosen. 
    #  [default: ]
    S:"Patrolman Loot Table" <
        srparasites:lurecomponent2;50;2;true
        srparasites:lurecomponent3;5;1;true
        srparasites:assimilated_flesh;100;2;true
     >

    # Spawn rate for Patrolman. [range: 0 ~ 100, default: 10]
    I:"Patrolman SpawnWeight"=0
}


