# Configuration file

~CONFIG_VERSION: 0.1.0

world-1256659000 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=dise

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


world-1431591077 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=silt
    B:overlayEnabled=true
}


world-1459763035 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=diamo
    B:overlayEnabled=true
}


world-2142366097 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@im
    B:overlayEnabled=true
}


world-462731128 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=wing
    B:overlayEnabled=true
}


world-78688046 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@srp
    B:overlayEnabled=true
}


world113318802 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1622030597 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1690200562 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=blood
    B:overlayEnabled=true
}


world1855637915 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=nun
    B:overlayEnabled=true
}


world785103634 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@futu
    B:overlayEnabled=true
}


world856609915 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


